@media all and (max-width: 375px) {

    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 1em;
        border-top: 1px solid #EAECF0;
        margin: 64px 32px;
        padding: 32px 0;
      
    }

    .hng {
        grid-row: 2/3;
        width: 213px;
        height: 20px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #667085;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .img-container {
        grid-row: 1/2;
        width: 130px;
        height: 18px;
    }

    #logo {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .downlow {
        grid-row: 3/4;
        width: 99.1px;
        height: 24px;
    }

}

@media all and (min-width: 375px) {
    footer {
        display: flex;
        width: 90%;
        align-items: flex-start;
        justify-content: space-between;
        margin: 64px auto 52px auto;
        padding-top: 32px;
        border-top: 1px solid #EAECF0;
    }

    .hng {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #667085;
        height: 24px;
    }

    .img-container {
        width: auto;
        height: auto;
    }

    #logo {
        object-fit: contain;
        width: 100%;
        height: 32px;
    }

    .downlow {
        width: 132.13px;
        height: 32px;
    }

}

* {
    box-sizing: border-box;
}